<div class="page-header">
    <h1>Edit a Disc</h1>
</div>

<div class="alert alert-success" ng-show="showSuccessAlert">
    <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">×</button>
    <strong>Done!</strong> {{successTextAlert}}
</div>

<form ng-submit="editDisc();" style="margin-top:30px;">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Band" ng-model="band"></input>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Description" ng-model="description"></input>
    </div>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Add a Song" ng-model="song"></input>
        <div class="input-group-btn">
            <div class="btn-group" role="group">
                <button ng-click="addSong();" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            </div>
            <div class="btn-group" role="group">
                <button ng-click="showSongs = !showSongs" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>

    <br>
    <div>
        <button type="submit" class="btn btn-primary pull-right">Edit Disc</button>
    </div>
</form>


<table id="songs" ng-show="showSongs" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Song</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="song in songs track by $index">
            <td style="font-size:20px; margin-left:10px;">
                {{song}}
            </td>
            <td>
                <a href ng-click="deleteSong(song);" class="glyphicon glyphicon-remove"></a>
            </td>
        </tr>
    </tbody>
</table>